/****** General styling *****/
html {
    height: 100%;
}

body {
    background-color: #524656;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

nav, .filler {
    height: 40px;
    background-color: rgba(0,0,0,0.1);   
}

a, a:active, a:visited, a:hover, nav h2 {
    color: #E5DDCB;
    text-decoration: none;
}

a {
    font-size: 1.2em;
}

a > i {
   margin-right: 10px;
}

a:hover {
    color: rgba(255,255,255,0.5);
}

nav h2 {
    float: left;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
}

nav a {
    float: right;
}


/****** Stock information ******/
.stock, #new-stock {
    background-color: #ffffff;
    border-left: 10px solid #000000;
    height: 150px;
}

#new-stock input, button {
    height: 40px;
}

#new-stock button {
    border-radius: 0px;
    position: relative;
    top: -1.5px;
    left: -1px;
}

.close {
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
}

/******  Chart ******/
.filler {
    height: 400px;
    margin: 20px 0px;
}

/****** Angular animations ******/
.ng-enter {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.ng-leave-active {
  opacity: 0;
}