/****** General styling *****/
html {
    height: 100%;
}

body {
    background-color: #524656;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

nav, .filler {
    height: 40px;
    background-color: rgba(0,0,0,0.1);   
}

a, a:active, a:visited, a:hover, nav h2 {
    color: #E5DDCB;
    text-decoration: none;
}

a {
    font-size: 1.2em;
}

a > i {
   margin-right: 10px;
}

a:hover {
    color: rgba(255,255,255,0.5);
}

nav h2 {
    float: left;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
}

nav a {
    float: right;
}


/****** Stock information ******/
.stock, #new-stock {
    background-color: #ffffff;
    border-left: 10px solid #000000;
    height: 150px;
    margin: 5px 0px;
}


/******  Chart ******/
.filler {
    height: 400px;
    margin: 20px 0px;
}